# Frontend (client)
REACT_APP_API_URL=http://localhost:5000

# Backend (server)
MONGO_URI=mongodb://your_mongo_db_uri
JWT_SECRET=your_jwt_secret_key
CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_API_KEY=your_cloudinary_api_key
CLOUD_API_SECRET=your_cloudinary_api_secret
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password